/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #252B6D;
  --secondary-color: #EF7422;
  --terciary-color: #EFBF54;
  --quaternary-color: #EEFEFF;
  --highlight-bg: #EF7422;
  --secondary-trans: #ef7422a3;

}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
