.aside {
  position: fixed;
  top: 0;
  left: -18rem;
  height: 100vh;
  background-color: var(--terciary-color);
  width: 18rem;
  z-index: 80;
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  transition: transform 0.2s, left 0.2s;
}

.opened {
  left: 0;
}

.aside ul {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.aside ul li {
  padding: 10px;
  color: white;
}
