<div>
  <app-buttontab (outputToggle)="toggle($event)" />

  <aside class="aside" [ngClass]="opened ? 'opened' : ''">
    <ul>
      <h2 class="text-quaternary text-4xl font-bold">Map</h2>
      <li class="card flex-auto">
        <label for="buttondisplay" class="font-bold block mb-2"> Year </label>
        <p-calendar
          [(ngModel)]="dateRaster"
          [readonlyInput]="true"
          dateFormat="yy"
          showIcon="true"
          view="year"
          class="text-black"
        />
      </li>
      <li class="card flex-auto">
        <app-layer-manager />
      </li>
      <hr class="border-b-2 border-quaternary rounded-3xl" />

      <li>
        <button (click)="downloadAction()" class="">
          <i class="pi pi-download" style="font-size: 2.5rem"></i>
        </button>
      </li>
    </ul>
  </aside>
</div>
